*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.back{
    width: 100%;
    height: 950px;
    z-index: 1;
    position: absolute;
    background: linear-gradient(90deg, rgb(236, 51, 72),rgb(199, 44, 230),rgb(231, 231, 77), rgb(52, 238, 229),rgb(230, 53, 156));
    background-size: 200% 200%;
    animation: change 10s ease-in-out infinite;
}

@keyframes change{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
nav{
    position: fixed;
    z-index: 99;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0,.17);
    overflow: hidden;
}
nav section{
    width: 100%;
    padding: 2em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav section ul{
    display: none;
    gap: 1em;
    list-style-type: none;
    padding: 0;
    position: relative;
}
nav section ul li{
    padding: 0.5em 1em;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 300ms ease-out;
    cursor: pointer;
    border-radius: 4px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
}
nav section ul li:hover{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
@media screen and (min-width:1024px){
    nav section{
        padding: 2em 10em;
    }
    nav section ul{
        display: flex;
    }
    .btn{
        display: none;
    }
}
@media screen and (min-width:768px){
    h2{
        display: none;
    }
}
.btn{
    padding: 0.5em 1em;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 300ms ease-out;
    cursor: pointer;
    border-radius: 4px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
}
.btn:hover{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
